<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card mt-5">
        <div class="card-body">
          <h2 class="card-title text-center">Recuperar Contraseña</h2>
          <div class="form-group">
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
                formControlName="userEmail"
              />
              <label for="floatingInput">INGRESE SU ELECTRONICO:</label>
            </div>
          </div>
          <div class="form-group text-center">
            <button
              class="btn btn-primary m-2"
              (click)="onReset(ad)"
              [disabled]="!userEmail.valid"
            >
              Recuperar Contraseña
            </button>
            <button class="btn btn-primary m-2" (click)="goBack()">
              Atras
            </button>
          </div>
          <div class="form-group text-center"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #ad let-modal>
  <div class="modal-header">
    <h4 class="modal-tittle">Aviso!</h4>
    <button
      class="close"
      aria-label="close"
      type="button"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ message }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.dismiss()">
      ACEPTAR
    </button>
  </div>
  <div class="modal"></div>
</ng-template>
