<div class="form-group">
  <div class="form-floating m-1 d-print-none" *ngIf="isAdmin">
    <input
      type="text"
      class="form-control"
      name="filter1"
      id="floatingInput"
      placeholder="Buscar por Nombre..."
      [(ngModel)]="filter1"
      *ngIf="true"
    />
    <label for="floatingInput">Nombre</label>
  </div>
  <div class="input-group">
    <div class="col">
      <div class="form-floating m-1 d-print-none">
        <input
          type="text"
          id="floatingInput"
          class="form-control"
          name="filter2"
          placeholder="Buscar por Fecha..."
          [(ngModel)]="filter2"
        />
        <label for="floatingInput">Fecha</label>
      </div>
    </div>
    <div class="col" *ngIf="selected != '3'">
      <div class="form-floating m-1 d-print-none">
        <input
          type="text"
          id="floatingInput"
          class="form-control"
          name="filter3"
          placeholder="Buscar por estado Asistencia..."
          [(ngModel)]="filter3"
        />
        <label for="floatingInput">Asistencia</label>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      id="inlineRadio1"
      value=""
      [(ngModel)]="selected"
    />
    <label class="form-check-label" for="inlineRadio1">TODOS</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      id="inlineRadio1"
      value="SOLICITADO"
      [(ngModel)]="selected"
    />
    <label class="form-check-label" for="inlineRadio1">SOLICITADOS</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      id="inlineRadio2"
      value="ACEPTADO"
      [(ngModel)]="selected"
    />
    <label class="form-check-label" for="inlineRadio2">ACEPTADOS</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      id="inlineRadio3"
      value="RECHAZADO"
      [(ngModel)]="selected"
    />
    <label class="form-check-label" for="inlineRadio3">RECHAZADOS</label>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div
      id="card"
      class="my-2 p-2 col-lg-3"
      *ngFor="
        let item of justification
          | filterUser: filter1
          | filterDate: filter2
          | filterStatus: filter3
          | filterStatus: selected
      "
    >
      <div class="card border-primary bg-light">
        <div class="card-header">Justificación</div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-light" style="height: 1.5cm">
              Nombre: {{ item.usuario }}
            </li>
            <li class="list-group-item bg-light">
              Fecha: {{ this.timeConverter(item.fecha["seconds"], 1) }}
            </li>
            <li class="list-group-item bg-light">Tipo: {{ item.tipo }}</li>
            <li class="list-group-item bg-light" style="height: 2cm">
              Mensaje: {{ item.mensaje }}
            </li>
            <li class="list-group-item bg-light">Status: {{ item.status }}</li>
          </ul>
          <div *ngIf="isAdmin && item.idUsuario != currentUserId">
            <button
              type="button"
              class="btn btn-sm btn-outline-warning m-1"
              (click)="onClick(setHours, ad, item)"
              *ngIf="item.status == 'RECHAZADO' || item.status == 'SOLICITADO'"
            >
              Aceptar
            </button>

            <button
              type="button"
              class="btn btn-sm btn-outline-warning m-1"
              (click)="onClickModalReject(item, reject)"
              *ngIf="item.status == 'ACEPTADO' || item.status == 'SOLICITADO'"
            >
              Rechazar
            </button>
            <button
              type="button"
              class="btn btn-sm btn-outline-warning m-1"
              (click)="seeData(item)"
            >
              Ver
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #setHours let-modal>
  <div class="modal-header">
    <h4 class="modal-tittle">{{ message }}</h4>
    <button
      class="close"
      aria-label="close"
      type="button"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>Ingresar la cantidad de tiempo a registrar:</p>
    <p>HORAS REGISTRADAS:</p>
    <h2>{{ horaExtra }}</h2>
    <div class="form-group col-md-6 form-floating">
      <input
        type="time"
        id="floatingInput"
        class="form-control"
        [(ngModel)]="tiempo"
      />
      <label for="floatingInput">Hora de Entrada</label>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="onClickModalAccept(ad)"
    >
      ACEPTAR
    </button>
  </div>
  <div class="modal"></div>
</ng-template>

<ng-template #ad let-modal>
  <div class="modal-header">
    <h4 class="modal-tittle">Aviso!</h4>
    <button
      class="close"
      aria-label="close"
      type="button"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ this.message }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.dismiss()">
      ACEPTAR
    </button>
  </div>
</ng-template>

<ng-template #reject let-modal>
  <div class="modal-header">
    <h4 class="text-center" class="modal-tittle">{{ mensaje }}</h4>
    <button
      class="close"
      aria-label="close"
      type="button"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body form-group">
    <p>Ingresar motivo de rechazo de la justificación:</p>
    <div class="form-group col-md-6 form-floating">
      <input
        type="text"
        id="floatingInput"
        class="form-control"
        [(ngModel)]="motivoR"
      />
      <label for="floatingInput">Motivo de rechazo</label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onReject(ad)">
      ACEPTAR
    </button>
  </div>
  <div class="modal"></div>
</ng-template>
