#card {
  float: left;
  width: 310px;
  height: 350px;
}

.contenedor {
  display: flex;
  float: left;
}

html,
body {
  height: 100%;
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
